<div class="profile">
  <div class="profile__picture"><img src="http://i.pravatar.cc/250?img=58" alt="ananddavis"/></div>
  <div class="profile__header">
    <div class="profile__account">
      <h4 class="profile__username">{{User.firstName+''+ User.maidenName  +' '+ User.lastName}}</h4>
    </div>
    <div class="profile__edit"><a class="profile__button" routerLink="/details/{{index}}">Details</a></div>
  </div>
  <div class="profile__stats">
    <div class="profile__stat">
      <div class="profile__icon profile__icon--gold"><i class="fas fa-wallet"></i></div>
      <div class="profile__value">47
        <div class="profile__key">Wallet</div>
      </div>
    </div>
    <div class="profile__stat">
      <div class="profile__icon profile__icon--blue"><i class="fas fa-signal"></i></div>
      <div class="profile__value">357
        <div class="profile__key">Ranking</div>
      </div>
    </div>
    <div class="profile__stat">
      <div class="profile__icon profile__icon--pink"><i class="fas fa-heart"></i></div>
      <div class="profile__value">4
        <div class="profile__key">Lives</div>
      </div>
    </div>
  </div>
</div>
